shop/.settings/org.eclipse.wst.common.project.facet.core.xml
facade/.settings/org.eclipse.wst.common.component
facade/.settings/org.eclipse.wst.common.project.facet.core.xml
shop/.settings/*
shop/.settings/org.eclipse.wst.common.project.facet.core.xml
*/.settings/*/mybatis-generator/
