shop/.settings/org.eclipse.wst.common.project.facet.core.xml
facade/.settings/org.eclipse.wst.common.component
service/.classpath
facade/.classpath
facade/.settings/org.eclipse.wst.common.project.facet.core.xml
shop/.classpath
shop/.settings/*
shop/.settings/org.eclipse.wst.common.project.facet.core.xml
facade/.classpath
*.classpath
*/.settings/*