<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hptsic.cloud.res.dao.ResStorageMapper" >
  <resultMap id="BaseResultMap" type="com.hptsic.cloud.res.pojo.ResStorage" >
    <id column="RES_STORAGE_SID" property="resStorageSid" jdbcType="VARCHAR" />
    <result column="RES_POOL_SID" property="resPoolSid" jdbcType="VARCHAR" />
    <result column="RES_STORAGE_CLASS_SID" property="resStorageClassSid" jdbcType="VARCHAR" />
    <result column="RES_EQUIP_STORAGE_SID" property="resEquipStorageSid" jdbcType="VARCHAR" />
    <result column="POWER_CLUSTER_NAME" property="powerClusterName" jdbcType="VARCHAR" />
    <result column="STORAGE_NAME" property="storageName" jdbcType="VARCHAR" />
    <result column="STORAGE_TYPE" property="storageType" jdbcType="VARCHAR" />
    <result column="STORAGE_TAG" property="storageTag" jdbcType="VARCHAR" />
    <result column="STORAGE_UNIT_NO" property="storageUnitNo" jdbcType="VARCHAR" />
    <result column="TOTAL_CAPACITY" property="totalCapacity" jdbcType="REAL" />
    <result column="PROVISIONED_CAPACITY" property="provisionedCapacity" jdbcType="BIGINT" />
    <result column="AVAILABLE_CAPACITY" property="availableCapacity" jdbcType="REAL" />
    <result column="HARD_DISK_TYPE" property="hardDiskType" jdbcType="VARCHAR" />
    <result column="STORAGE_CATEGORY" property="storageCategory" jdbcType="VARCHAR" />
    <result column="STORAGE_PURPOSE" property="storagePurpose" jdbcType="VARCHAR" />
    <result column="LUN_NO" property="lunNo" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.resPoolSid != null" >
         and RES_POOL_SID = #{condition.resPoolSid}
      </if>
      <if test="condition.resStorageClassSid != null" >
         and RES_STORAGE_CLASS_SID = #{condition.resStorageClassSid}
      </if>
      <if test="condition.resEquipStorageSid != null" >
         and RES_EQUIP_STORAGE_SID = #{condition.resEquipStorageSid}
      </if>
      <if test="condition.powerClusterName != null" >
         and POWER_CLUSTER_NAME = #{condition.powerClusterName}
      </if>
      <if test="condition.storageName != null" >
         and STORAGE_NAME = #{condition.storageName}
      </if>
      <if test="condition.storageType != null" >
         and STORAGE_TYPE = #{condition.storageType}
      </if>
      <if test="condition.storageTag != null" >
         and STORAGE_TAG = #{condition.storageTag}
      </if>
      <if test="condition.storageUnitNo != null" >
         and STORAGE_UNIT_NO = #{condition.storageUnitNo}
      </if>
      <if test="condition.totalCapacity != null" >
         and TOTAL_CAPACITY = #{condition.totalCapacity}
      </if>
      <if test="condition.provisionedCapacity != null" >
         and PROVISIONED_CAPACITY = #{condition.provisionedCapacity}
      </if>
      <if test="condition.availableCapacity != null" >
         and AVAILABLE_CAPACITY = #{condition.availableCapacity}
      </if>
      <if test="condition.hardDiskType != null" >
         and HARD_DISK_TYPE = #{condition.hardDiskType}
      </if>
      <if test="condition.storageCategory != null" >
         and STORAGE_CATEGORY = #{condition.storageCategory}
      </if>
      <if test="condition.storagePurpose != null" >
         and STORAGE_PURPOSE = #{condition.storagePurpose}
      </if>
      <if test="condition.lunNo != null" >
         and LUN_NO = #{condition.lunNo}
      </if>
      <if test="condition.status != null" >
         and STATUS = #{condition.status}
      </if>
      <if test="condition.uuid != null" >
         and UUID = #{condition.uuid}
      </if>
      <if test="condition.createdBy != null" >
         and CREATED_BY = #{condition.createdBy}
      </if>
      <if test="condition.createdDt != null" >
         and CREATED_DT = #{condition.createdDt}
      </if>
      <if test="condition.updatedBy != null" >
         and UPDATED_BY = #{condition.updatedBy}
      </if>
      <if test="condition.updatedDt != null" >
         and UPDATED_DT = #{condition.updatedDt}
      </if>
      <if test="condition.version != null" >
         and VERSION = #{condition.version}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    RES_STORAGE_SID, RES_POOL_SID, RES_STORAGE_CLASS_SID, RES_EQUIP_STORAGE_SID, POWER_CLUSTER_NAME, 
    STORAGE_NAME, STORAGE_TYPE, STORAGE_TAG, STORAGE_UNIT_NO, TOTAL_CAPACITY, PROVISIONED_CAPACITY, 
    AVAILABLE_CAPACITY, HARD_DISK_TYPE, STORAGE_CATEGORY, STORAGE_PURPOSE, LUN_NO, STATUS, 
    UUID, CREATED_BY, CREATED_DT, UPDATED_BY, UPDATED_DT, VERSION
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.hptsic.cloud.res.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from res_storage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from res_storage
    where RES_STORAGE_SID = #{resStorageSid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from res_storage
    where RES_STORAGE_SID = #{resStorageSid}
  </delete>
  <delete id="deleteByParams" parameterType="com.hptsic.cloud.res.pojo.Criteria" >
    delete from res_storage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hptsic.cloud.res.pojo.ResStorage" >
    insert into res_storage (RES_STORAGE_SID, RES_POOL_SID, RES_STORAGE_CLASS_SID, RES_EQUIP_STORAGE_SID, 
      POWER_CLUSTER_NAME, STORAGE_NAME, STORAGE_TYPE, STORAGE_TAG, STORAGE_UNIT_NO, 
      TOTAL_CAPACITY, PROVISIONED_CAPACITY, AVAILABLE_CAPACITY, HARD_DISK_TYPE, 
      STORAGE_CATEGORY, STORAGE_PURPOSE, LUN_NO, STATUS, UUID, CREATED_BY, 
      CREATED_DT, UPDATED_BY, UPDATED_DT, VERSION)
    values (#{resStorageSid}, #{resPoolSid}, #{resStorageClassSid}, #{resEquipStorageSid}, 
      #{powerClusterName}, #{storageName}, #{storageType}, #{storageTag}, #{storageUnitNo}, 
      #{totalCapacity}, #{provisionedCapacity}, #{availableCapacity}, #{hardDiskType}, 
      #{storageCategory}, #{storagePurpose}, #{lunNo}, #{status}, #{uuid}, #{createdBy}, 
      #{createdDt}, #{updatedBy}, #{updatedDt}, #{version})
  </insert>
  <insert id="insertSelective" parameterType="com.hptsic.cloud.res.pojo.ResStorage" >
    insert into res_storage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resStorageSid != null" >
        RES_STORAGE_SID,
      </if>
      <if test="resPoolSid != null" >
        RES_POOL_SID,
      </if>
      <if test="resStorageClassSid != null" >
        RES_STORAGE_CLASS_SID,
      </if>
      <if test="resEquipStorageSid != null" >
        RES_EQUIP_STORAGE_SID,
      </if>
      <if test="powerClusterName != null" >
        POWER_CLUSTER_NAME,
      </if>
      <if test="storageName != null" >
        STORAGE_NAME,
      </if>
      <if test="storageType != null" >
        STORAGE_TYPE,
      </if>
      <if test="storageTag != null" >
        STORAGE_TAG,
      </if>
      <if test="storageUnitNo != null" >
        STORAGE_UNIT_NO,
      </if>
      <if test="totalCapacity != null" >
        TOTAL_CAPACITY,
      </if>
      <if test="provisionedCapacity != null" >
        PROVISIONED_CAPACITY,
      </if>
      <if test="availableCapacity != null" >
        AVAILABLE_CAPACITY,
      </if>
      <if test="hardDiskType != null" >
        HARD_DISK_TYPE,
      </if>
      <if test="storageCategory != null" >
        STORAGE_CATEGORY,
      </if>
      <if test="storagePurpose != null" >
        STORAGE_PURPOSE,
      </if>
      <if test="lunNo != null" >
        LUN_NO,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDt != null" >
        CREATED_DT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resStorageSid != null" >
        #{resStorageSid},
      </if>
      <if test="resPoolSid != null" >
        #{resPoolSid},
      </if>
      <if test="resStorageClassSid != null" >
        #{resStorageClassSid},
      </if>
      <if test="resEquipStorageSid != null" >
        #{resEquipStorageSid},
      </if>
      <if test="powerClusterName != null" >
        #{powerClusterName},
      </if>
      <if test="storageName != null" >
        #{storageName},
      </if>
      <if test="storageType != null" >
        #{storageType},
      </if>
      <if test="storageTag != null" >
        #{storageTag},
      </if>
      <if test="storageUnitNo != null" >
        #{storageUnitNo},
      </if>
      <if test="totalCapacity != null" >
        #{totalCapacity},
      </if>
      <if test="provisionedCapacity != null" >
        #{provisionedCapacity},
      </if>
      <if test="availableCapacity != null" >
        #{availableCapacity},
      </if>
      <if test="hardDiskType != null" >
        #{hardDiskType},
      </if>
      <if test="storageCategory != null" >
        #{storageCategory},
      </if>
      <if test="storagePurpose != null" >
        #{storagePurpose},
      </if>
      <if test="lunNo != null" >
        #{lunNo},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="uuid != null" >
        #{uuid},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="createdDt != null" >
        #{createdDt},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt},
      </if>
      <if test="version != null" >
        #{version},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.hptsic.cloud.res.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from res_storage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update res_storage
    <set >
      <if test="record.resStorageSid != null" >
        RES_STORAGE_SID = #{record.resStorageSid},
      </if>
      <if test="record.resPoolSid != null" >
        RES_POOL_SID = #{record.resPoolSid},
      </if>
      <if test="record.resStorageClassSid != null" >
        RES_STORAGE_CLASS_SID = #{record.resStorageClassSid},
      </if>
      <if test="record.resEquipStorageSid != null" >
        RES_EQUIP_STORAGE_SID = #{record.resEquipStorageSid},
      </if>
      <if test="record.powerClusterName != null" >
        POWER_CLUSTER_NAME = #{record.powerClusterName},
      </if>
      <if test="record.storageName != null" >
        STORAGE_NAME = #{record.storageName},
      </if>
      <if test="record.storageType != null" >
        STORAGE_TYPE = #{record.storageType},
      </if>
      <if test="record.storageTag != null" >
        STORAGE_TAG = #{record.storageTag},
      </if>
      <if test="record.storageUnitNo != null" >
        STORAGE_UNIT_NO = #{record.storageUnitNo},
      </if>
      <if test="record.totalCapacity != null" >
        TOTAL_CAPACITY = #{record.totalCapacity},
      </if>
      <if test="record.provisionedCapacity != null" >
        PROVISIONED_CAPACITY = #{record.provisionedCapacity},
      </if>
      <if test="record.availableCapacity != null" >
        AVAILABLE_CAPACITY = #{record.availableCapacity},
      </if>
      <if test="record.hardDiskType != null" >
        HARD_DISK_TYPE = #{record.hardDiskType},
      </if>
      <if test="record.storageCategory != null" >
        STORAGE_CATEGORY = #{record.storageCategory},
      </if>
      <if test="record.storagePurpose != null" >
        STORAGE_PURPOSE = #{record.storagePurpose},
      </if>
      <if test="record.lunNo != null" >
        LUN_NO = #{record.lunNo},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status},
      </if>
      <if test="record.uuid != null" >
        UUID = #{record.uuid},
      </if>
      <if test="record.createdBy != null" >
        CREATED_BY = #{record.createdBy},
      </if>
      <if test="record.createdDt != null" >
        CREATED_DT = #{record.createdDt},
      </if>
      <if test="record.updatedBy != null" >
        UPDATED_BY = #{record.updatedBy},
      </if>
      <if test="record.updatedDt != null" >
        UPDATED_DT = #{record.updatedDt},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update res_storage
    set RES_STORAGE_SID = #{record.resStorageSid},
      RES_POOL_SID = #{record.resPoolSid},
      RES_STORAGE_CLASS_SID = #{record.resStorageClassSid},
      RES_EQUIP_STORAGE_SID = #{record.resEquipStorageSid},
      POWER_CLUSTER_NAME = #{record.powerClusterName},
      STORAGE_NAME = #{record.storageName},
      STORAGE_TYPE = #{record.storageType},
      STORAGE_TAG = #{record.storageTag},
      STORAGE_UNIT_NO = #{record.storageUnitNo},
      TOTAL_CAPACITY = #{record.totalCapacity},
      PROVISIONED_CAPACITY = #{record.provisionedCapacity},
      AVAILABLE_CAPACITY = #{record.availableCapacity},
      HARD_DISK_TYPE = #{record.hardDiskType},
      STORAGE_CATEGORY = #{record.storageCategory},
      STORAGE_PURPOSE = #{record.storagePurpose},
      LUN_NO = #{record.lunNo},
      STATUS = #{record.status},
      UUID = #{record.uuid},
      CREATED_BY = #{record.createdBy},
      CREATED_DT = #{record.createdDt},
      UPDATED_BY = #{record.updatedBy},
      UPDATED_DT = #{record.updatedDt},
      VERSION = #{record.version}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hptsic.cloud.res.pojo.ResStorage" >
    update res_storage
    <set >
      <if test="resPoolSid != null" >
        RES_POOL_SID = #{resPoolSid},
      </if>
      <if test="resStorageClassSid != null" >
        RES_STORAGE_CLASS_SID = #{resStorageClassSid},
      </if>
      <if test="resEquipStorageSid != null" >
        RES_EQUIP_STORAGE_SID = #{resEquipStorageSid},
      </if>
      <if test="powerClusterName != null" >
        POWER_CLUSTER_NAME = #{powerClusterName},
      </if>
      <if test="storageName != null" >
        STORAGE_NAME = #{storageName},
      </if>
      <if test="storageType != null" >
        STORAGE_TYPE = #{storageType},
      </if>
      <if test="storageTag != null" >
        STORAGE_TAG = #{storageTag},
      </if>
      <if test="storageUnitNo != null" >
        STORAGE_UNIT_NO = #{storageUnitNo},
      </if>
      <if test="totalCapacity != null" >
        TOTAL_CAPACITY = #{totalCapacity},
      </if>
      <if test="provisionedCapacity != null" >
        PROVISIONED_CAPACITY = #{provisionedCapacity},
      </if>
      <if test="availableCapacity != null" >
        AVAILABLE_CAPACITY = #{availableCapacity},
      </if>
      <if test="hardDiskType != null" >
        HARD_DISK_TYPE = #{hardDiskType},
      </if>
      <if test="storageCategory != null" >
        STORAGE_CATEGORY = #{storageCategory},
      </if>
      <if test="storagePurpose != null" >
        STORAGE_PURPOSE = #{storagePurpose},
      </if>
      <if test="lunNo != null" >
        LUN_NO = #{lunNo},
      </if>
      <if test="status != null" >
        STATUS = #{status},
      </if>
      <if test="uuid != null" >
        UUID = #{uuid},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy},
      </if>
      <if test="createdDt != null" >
        CREATED_DT = #{createdDt},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy},
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT = #{updatedDt},
      </if>
      <if test="version != null" >
        VERSION = #{version},
      </if>
    </set>
    where RES_STORAGE_SID = #{resStorageSid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hptsic.cloud.res.pojo.ResStorage" >
    update res_storage
    set RES_POOL_SID = #{resPoolSid},
      RES_STORAGE_CLASS_SID = #{resStorageClassSid},
      RES_EQUIP_STORAGE_SID = #{resEquipStorageSid},
      POWER_CLUSTER_NAME = #{powerClusterName},
      STORAGE_NAME = #{storageName},
      STORAGE_TYPE = #{storageType},
      STORAGE_TAG = #{storageTag},
      STORAGE_UNIT_NO = #{storageUnitNo},
      TOTAL_CAPACITY = #{totalCapacity},
      PROVISIONED_CAPACITY = #{provisionedCapacity},
      AVAILABLE_CAPACITY = #{availableCapacity},
      HARD_DISK_TYPE = #{hardDiskType},
      STORAGE_CATEGORY = #{storageCategory},
      STORAGE_PURPOSE = #{storagePurpose},
      LUN_NO = #{lunNo},
      STATUS = #{status},
      UUID = #{uuid},
      CREATED_BY = #{createdBy},
      CREATED_DT = #{createdDt},
      UPDATED_BY = #{updatedBy},
      UPDATED_DT = #{updatedDt},
      VERSION = #{version}
    where RES_STORAGE_SID = #{resStorageSid}
  </update>
</mapper>