<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.GoodsAppraiseMapper" >
  <resultMap id="BaseResultMap" type="com.cs.pojo.GoodsAppraise" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shopId" property="shopid" jdbcType="INTEGER" />
    <result column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="goodsId" property="goodsid" jdbcType="INTEGER" />
    <result column="goodsAttrId" property="goodsattrid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="goodsScore" property="goodsscore" jdbcType="INTEGER" />
    <result column="serviceScore" property="servicescore" jdbcType="INTEGER" />
    <result column="timeScore" property="timescore" jdbcType="INTEGER" />
    <result column="appraisesAnnex" property="appraisesannex" jdbcType="VARCHAR" />
    <result column="isShow" property="isshow" jdbcType="TINYINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cs.pojo.GoodsAppraise" extends="BaseResultMap" >
    </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.shopid != null" >
         and shopId = #{condition.shopid}
      </if>
      <if test="condition.orderid != null" >
         and orderId = #{condition.orderid}
      </if>
      <if test="condition.goodsid != null" >
         and goodsId = #{condition.goodsid}
      </if>
      <if test="condition.goodsattrid != null" >
         and goodsAttrId = #{condition.goodsattrid}
      </if>
      <if test="condition.userid != null" >
         and userId = #{condition.userid}
      </if>
      <if test="condition.goodsscore != null" >
         and goodsScore = #{condition.goodsscore}
      </if>
      <if test="condition.servicescore != null" >
         and serviceScore = #{condition.servicescore}
      </if>
      <if test="condition.timescore != null" >
         and timeScore = #{condition.timescore}
      </if>
      <if test="condition.appraisesannex != null" >
         and appraisesAnnex = #{condition.appraisesannex}
      </if>
      <if test="condition.isshow != null" >
         and isShow = #{condition.isshow}
      </if>
      <if test="condition.createtime != null" >
         and createTime = #{condition.createtime}
      </if>
      <if test="condition.content != null" >
         and content = #{condition.content}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shopId, orderId, goodsId, goodsAttrId, userId, goodsScore, serviceScore, timeScore, 
    appraisesAnnex, isShow, createTime
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByParamsWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.cs.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cs_goods_appraises
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.cs.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cs_goods_appraises
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cs_goods_appraises
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cs_goods_appraises
    where id = #{id}
  </delete>
  <delete id="deleteByParams" parameterType="com.cs.pojo.Criteria" >
    delete from cs_goods_appraises
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cs.pojo.GoodsAppraise" >
    insert into cs_goods_appraises (id, shopId, orderId, goodsId, goodsAttrId, userId, goodsScore, 
      serviceScore, timeScore, appraisesAnnex, isShow, createTime, content
      )
    values (#{id}, #{shopid}, #{orderid}, #{goodsid}, #{goodsattrid}, #{userid}, #{goodsscore}, 
      #{servicescore}, #{timescore}, #{appraisesannex}, #{isshow}, #{createtime}, #{content}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cs.pojo.GoodsAppraise" >
    insert into cs_goods_appraises
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopid != null" >
        shopId,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="goodsid != null" >
        goodsId,
      </if>
      <if test="goodsattrid != null" >
        goodsAttrId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="goodsscore != null" >
        goodsScore,
      </if>
      <if test="servicescore != null" >
        serviceScore,
      </if>
      <if test="timescore != null" >
        timeScore,
      </if>
      <if test="appraisesannex != null" >
        appraisesAnnex,
      </if>
      <if test="isshow != null" >
        isShow,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="shopid != null" >
        #{shopid},
      </if>
      <if test="orderid != null" >
        #{orderid},
      </if>
      <if test="goodsid != null" >
        #{goodsid},
      </if>
      <if test="goodsattrid != null" >
        #{goodsattrid},
      </if>
      <if test="userid != null" >
        #{userid},
      </if>
      <if test="goodsscore != null" >
        #{goodsscore},
      </if>
      <if test="servicescore != null" >
        #{servicescore},
      </if>
      <if test="timescore != null" >
        #{timescore},
      </if>
      <if test="appraisesannex != null" >
        #{appraisesannex},
      </if>
      <if test="isshow != null" >
        #{isshow},
      </if>
      <if test="createtime != null" >
        #{createtime},
      </if>
      <if test="content != null" >
        #{content},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.cs.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from cs_goods_appraises
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update cs_goods_appraises
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.shopid != null" >
        shopId = #{record.shopid},
      </if>
      <if test="record.orderid != null" >
        orderId = #{record.orderid},
      </if>
      <if test="record.goodsid != null" >
        goodsId = #{record.goodsid},
      </if>
      <if test="record.goodsattrid != null" >
        goodsAttrId = #{record.goodsattrid},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid},
      </if>
      <if test="record.goodsscore != null" >
        goodsScore = #{record.goodsscore},
      </if>
      <if test="record.servicescore != null" >
        serviceScore = #{record.servicescore},
      </if>
      <if test="record.timescore != null" >
        timeScore = #{record.timescore},
      </if>
      <if test="record.appraisesannex != null" >
        appraisesAnnex = #{record.appraisesannex},
      </if>
      <if test="record.isshow != null" >
        isShow = #{record.isshow},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime},
      </if>
      <if test="record.content != null" >
        content = #{record.content},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParamsWithBLOBs" parameterType="map" >
    update cs_goods_appraises
    set id = #{record.id},
      shopId = #{record.shopid},
      orderId = #{record.orderid},
      goodsId = #{record.goodsid},
      goodsAttrId = #{record.goodsattrid},
      userId = #{record.userid},
      goodsScore = #{record.goodsscore},
      serviceScore = #{record.servicescore},
      timeScore = #{record.timescore},
      appraisesAnnex = #{record.appraisesannex},
      isShow = #{record.isshow},
      createTime = #{record.createtime},
      content = #{record.content}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update cs_goods_appraises
    set id = #{record.id},
      shopId = #{record.shopid},
      orderId = #{record.orderid},
      goodsId = #{record.goodsid},
      goodsAttrId = #{record.goodsattrid},
      userId = #{record.userid},
      goodsScore = #{record.goodsscore},
      serviceScore = #{record.servicescore},
      timeScore = #{record.timescore},
      appraisesAnnex = #{record.appraisesannex},
      isShow = #{record.isshow},
      createTime = #{record.createtime}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cs.pojo.GoodsAppraise" >
    update cs_goods_appraises
    <set >
      <if test="shopid != null" >
        shopId = #{shopid},
      </if>
      <if test="orderid != null" >
        orderId = #{orderid},
      </if>
      <if test="goodsid != null" >
        goodsId = #{goodsid},
      </if>
      <if test="goodsattrid != null" >
        goodsAttrId = #{goodsattrid},
      </if>
      <if test="userid != null" >
        userId = #{userid},
      </if>
      <if test="goodsscore != null" >
        goodsScore = #{goodsscore},
      </if>
      <if test="servicescore != null" >
        serviceScore = #{servicescore},
      </if>
      <if test="timescore != null" >
        timeScore = #{timescore},
      </if>
      <if test="appraisesannex != null" >
        appraisesAnnex = #{appraisesannex},
      </if>
      <if test="isshow != null" >
        isShow = #{isshow},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cs.pojo.GoodsAppraise" >
    update cs_goods_appraises
    set shopId = #{shopid},
      orderId = #{orderid},
      goodsId = #{goodsid},
      goodsAttrId = #{goodsattrid},
      userId = #{userid},
      goodsScore = #{goodsscore},
      serviceScore = #{servicescore},
      timeScore = #{timescore},
      appraisesAnnex = #{appraisesannex},
      isShow = #{isshow},
      createTime = #{createtime},
      content = #{content}
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cs.pojo.GoodsAppraise" >
    update cs_goods_appraises
    set shopId = #{shopid},
      orderId = #{orderid},
      goodsId = #{goodsid},
      goodsAttrId = #{goodsattrid},
      userId = #{userid},
      goodsScore = #{goodsscore},
      serviceScore = #{servicescore},
      timeScore = #{timescore},
      appraisesAnnex = #{appraisesannex},
      isShow = #{isshow},
      createTime = #{createtime}
    where id = #{id}
  </update>
</mapper>