<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.ShopsCommunitysMapper" >
  <resultMap id="BaseResultMap" type="com.cs.pojo.ShopsCommunitys" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shopId" property="shopid" jdbcType="INTEGER" />
    <result column="areaId1" property="areaid1" jdbcType="INTEGER" />
    <result column="areaId2" property="areaid2" jdbcType="INTEGER" />
    <result column="areaId3" property="areaid3" jdbcType="INTEGER" />
    <result column="communityId" property="communityid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.shopid != null" >
         and shopId = #{condition.shopid}
      </if>
      <if test="condition.areaid1 != null" >
         and areaId1 = #{condition.areaid1}
      </if>
      <if test="condition.areaid2 != null" >
         and areaId2 = #{condition.areaid2}
      </if>
      <if test="condition.areaid3 != null" >
         and areaId3 = #{condition.areaid3}
      </if>
      <if test="condition.communityid != null" >
         and communityId = #{condition.communityid}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, shopId, areaId1, areaId2, areaId3, communityId
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.cs.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cs_shops_communitys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cs_shops_communitys
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cs_shops_communitys
    where id = #{id}
  </delete>
  <delete id="deleteByParams" parameterType="com.cs.pojo.Criteria" >
    delete from cs_shops_communitys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cs.pojo.ShopsCommunitys" >
    insert into cs_shops_communitys (id, shopId, areaId1, areaId2, areaId3, communityId)
    values (#{id}, #{shopid}, #{areaid1}, #{areaid2}, #{areaid3}, #{communityid})
  </insert>
  <insert id="insertSelective" parameterType="com.cs.pojo.ShopsCommunitys" >
    insert into cs_shops_communitys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopid != null" >
        shopId,
      </if>
      <if test="areaid1 != null" >
        areaId1,
      </if>
      <if test="areaid2 != null" >
        areaId2,
      </if>
      <if test="areaid3 != null" >
        areaId3,
      </if>
      <if test="communityid != null" >
        communityId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="shopid != null" >
        #{shopid},
      </if>
      <if test="areaid1 != null" >
        #{areaid1},
      </if>
      <if test="areaid2 != null" >
        #{areaid2},
      </if>
      <if test="areaid3 != null" >
        #{areaid3},
      </if>
      <if test="communityid != null" >
        #{communityid},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.cs.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from cs_shops_communitys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update cs_shops_communitys
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.shopid != null" >
        shopId = #{record.shopid},
      </if>
      <if test="record.areaid1 != null" >
        areaId1 = #{record.areaid1},
      </if>
      <if test="record.areaid2 != null" >
        areaId2 = #{record.areaid2},
      </if>
      <if test="record.areaid3 != null" >
        areaId3 = #{record.areaid3},
      </if>
      <if test="record.communityid != null" >
        communityId = #{record.communityid},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update cs_shops_communitys
    set id = #{record.id},
      shopId = #{record.shopid},
      areaId1 = #{record.areaid1},
      areaId2 = #{record.areaid2},
      areaId3 = #{record.areaid3},
      communityId = #{record.communityid}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cs.pojo.ShopsCommunitys" >
    update cs_shops_communitys
    <set >
      <if test="shopid != null" >
        shopId = #{shopid},
      </if>
      <if test="areaid1 != null" >
        areaId1 = #{areaid1},
      </if>
      <if test="areaid2 != null" >
        areaId2 = #{areaid2},
      </if>
      <if test="areaid3 != null" >
        areaId3 = #{areaid3},
      </if>
      <if test="communityid != null" >
        communityId = #{communityid},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cs.pojo.ShopsCommunitys" >
    update cs_shops_communitys
    set shopId = #{shopid},
      areaId1 = #{areaid1},
      areaId2 = #{areaid2},
      areaId3 = #{areaid3},
      communityId = #{communityid}
    where id = #{id}
  </update>
</mapper>