<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.UsersMapper">
	<resultMap id="BaseResultMap" type="com.cs.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="condition.name != null">
				and name = #{condition.name}
			</if>
			<if test="condition.age != null">
				and age = #{condition.age}
			</if>
		</trim>
	</sql>
	<sql id="Base_Column_List">
		id, name, age
	</sql>
	<select id="selectByParams" resultMap="BaseResultMap"
		parameterType="com.cs.pojo.Criteria">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where id = #{id}
	</delete>
	<delete id="deleteByParams" parameterType="com.cs.pojo.Criteria">
		delete from user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.cs.pojo.User">
		insert into user (id, name, age)
		values (#{id}, #{name}, #{age})
	</insert>
	<insert id="insertSelective" parameterType="com.cs.pojo.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="age != null">
				age,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="age != null">
				#{age},
			</if>
		</trim>
	</insert>
	<select id="countByParams" parameterType="com.cs.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(*) from user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByParamsSelective" parameterType="map">
		update user
		<set>
			<if test="record.id != null">
				id = #{record.id},
			</if>
			<if test="record.name != null">
				name = #{record.name},
			</if>
			<if test="record.age != null">
				age = #{record.age},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByParams" parameterType="map">
		update user
		set id = #{record.id},
		name = #{record.name},
		age = #{record.age}
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.cs.pojo.User">
		update user
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="age != null">
				age = #{age},
			</if>
		</set>
		where id = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cs.pojo.User">
		update user
		set name = #{name},
		age = #{age}
		where id = #{id}
	</update>
</mapper>