/* product-search/1.0.4 search.css Date:2017-04-06 16:41:16 */
@charset "UTF-8";

.goodslist {
	width: 232px;
	height: 420px;
}

.p-img {
	width: 232px;
	height: 220px;
	padding: 10px 0 5px;
	margin: 0 auto;
	position: relative;
	text-align: cente
}

.p-img img {
	display: block;
	margin: 0 auto;
	width: 220px;
	height: 220px;
}

.a1 {
	display: block;
	word-wrap: break-word;
	color: #400040;
	text-decoration: none;
	font-weight: bold;
}

.a1:visited {
	color: #3399CC;
	text-decoration: none;
	font-weight: bold;
} /*访问过的链接设置*/
.a1:hover {
	text-decoration: none; /* 下划线 underline */
	font-weight: bold;
} /*鼠标放上的链接设置*/