<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.cs.pojo.User" >
    <id column="userId" property="userId" jdbcType="INTEGER" />
    <result column="loginName" property="loginName" jdbcType="VARCHAR" />
    <result column="loginSecret" property="loginSecret" jdbcType="INTEGER" />
    <result column="loginPwd" property="loginPwd" jdbcType="VARCHAR" />
    <result column="userSex" property="userSex" jdbcType="TINYINT" />
    <result column="userType" property="userType" jdbcType="TINYINT" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="userQQ" property="userQQ" jdbcType="VARCHAR" />
    <result column="userPhone" property="userPhone" jdbcType="CHAR" />
    <result column="userEmail" property="userEmail" jdbcType="VARCHAR" />
    <result column="userScore" property="userScore" jdbcType="INTEGER" />
    <result column="userPhoto" property="userPhoto" jdbcType="VARCHAR" />
    <result column="userTotalScore" property="userTotalScore" jdbcType="INTEGER" />
    <result column="userStatus" property="userStatus" jdbcType="TINYINT" />
    <result column="userFlag" property="userFlag" jdbcType="TINYINT" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lastIP" property="lastIP" jdbcType="VARCHAR" />
    <result column="lastTime" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="userFrom" property="userFrom" jdbcType="TINYINT" />
    <result column="openId" property="openId" jdbcType="VARCHAR" />
    <result column="wxOpenId" property="wxOpenId" jdbcType="VARCHAR" />
    <result column="userMoney" property="userMoney" jdbcType="DECIMAL" />
    <result column="lockMoney" property="lockMoney" jdbcType="DECIMAL" />
    <result column="distributMoney" property="distributMoney" jdbcType="DECIMAL" />
    <result column="isBuyer" property="isBuyer" jdbcType="TINYINT" />
    <result column="payPwd" property="payPwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.loginName != null" >
         and loginName = #{condition.loginName}
      </if>
      <if test="condition.loginSecret != null" >
         and loginSecret = #{condition.loginSecret}
      </if>
      <if test="condition.loginPwd != null" >
         and loginPwd = #{condition.loginPwd}
      </if>
      <if test="condition.userSex != null" >
         and userSex = #{condition.userSex}
      </if>
      <if test="condition.userType != null" >
         and userType = #{condition.userType}
      </if>
      <if test="condition.userName != null" >
         and userName = #{condition.userName}
      </if>
      <if test="condition.userQQ != null" >
         and userQQ = #{condition.userQQ}
      </if>
      <if test="condition.userPhone != null" >
         and userPhone = #{condition.userPhone}
      </if>
      <if test="condition.userEmail != null" >
         and userEmail = #{condition.userEmail}
      </if>
      <if test="condition.userScore != null" >
         and userScore = #{condition.userScore}
      </if>
      <if test="condition.userPhoto != null" >
         and userPhoto = #{condition.userPhoto}
      </if>
      <if test="condition.userTotalScore != null" >
         and userTotalScore = #{condition.userTotalScore}
      </if>
      <if test="condition.userStatus != null" >
         and userStatus = #{condition.userStatus}
      </if>
      <if test="condition.userFlag != null" >
         and userFlag = #{condition.userFlag}
      </if>
      <if test="condition.createTime != null" >
         and createTime = #{condition.createTime}
      </if>
      <if test="condition.lastIP != null" >
         and lastIP = #{condition.lastIP}
      </if>
      <if test="condition.lastTime != null" >
         and lastTime = #{condition.lastTime}
      </if>
      <if test="condition.userFrom != null" >
         and userFrom = #{condition.userFrom}
      </if>
      <if test="condition.openId != null" >
         and openId = #{condition.openId}
      </if>
      <if test="condition.wxOpenId != null" >
         and wxOpenId = #{condition.wxOpenId}
      </if>
      <if test="condition.userMoney != null" >
         and userMoney = #{condition.userMoney}
      </if>
      <if test="condition.lockMoney != null" >
         and lockMoney = #{condition.lockMoney}
      </if>
      <if test="condition.distributMoney != null" >
         and distributMoney = #{condition.distributMoney}
      </if>
      <if test="condition.isBuyer != null" >
         and isBuyer = #{condition.isBuyer}
      </if>
      <if test="condition.payPwd != null" >
         and payPwd = #{condition.payPwd}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    userId, loginName, loginSecret, loginPwd, userSex, userType, userName, userQQ, userPhone, 
    userEmail, userScore, userPhoto, userTotalScore, userStatus, userFlag, createTime, 
    lastIP, lastTime, userFrom, openId, wxOpenId, userMoney, lockMoney, distributMoney, 
    isBuyer, payPwd
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.cs.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cs_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cs_users
    where userId = #{userId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cs_users
    where userId = #{userId}
  </delete>
  <delete id="deleteByParams" parameterType="com.cs.pojo.Criteria" >
    delete from cs_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cs.pojo.User" >
    insert into cs_users (userId, loginName, loginSecret, loginPwd, userSex, userType, 
      userName, userQQ, userPhone, userEmail, userScore, userPhoto, 
      userTotalScore, userStatus, userFlag, createTime, lastIP, lastTime, 
      userFrom, openId, wxOpenId, userMoney, lockMoney, distributMoney, 
      isBuyer, payPwd)
    values (#{userId}, #{loginName}, #{loginSecret}, #{loginPwd}, #{userSex}, #{userType}, 
      #{userName}, #{userQQ}, #{userPhone}, #{userEmail}, #{userScore}, #{userPhoto}, 
      #{userTotalScore}, #{userStatus}, #{userFlag}, #{createTime}, #{lastIP}, #{lastTime}, 
      #{userFrom}, #{openId}, #{wxOpenId}, #{userMoney}, #{lockMoney}, #{distributMoney}, 
      #{isBuyer}, #{payPwd})
  </insert>
  <insert id="insertSelective" parameterType="com.cs.pojo.User" >
    insert into cs_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        userId,
      </if>
      <if test="loginName != null" >
        loginName,
      </if>
      <if test="loginSecret != null" >
        loginSecret,
      </if>
      <if test="loginPwd != null" >
        loginPwd,
      </if>
      <if test="userSex != null" >
        userSex,
      </if>
      <if test="userType != null" >
        userType,
      </if>
      <if test="userName != null" >
        userName,
      </if>
      <if test="userQQ != null" >
        userQQ,
      </if>
      <if test="userPhone != null" >
        userPhone,
      </if>
      <if test="userEmail != null" >
        userEmail,
      </if>
      <if test="userScore != null" >
        userScore,
      </if>
      <if test="userPhoto != null" >
        userPhoto,
      </if>
      <if test="userTotalScore != null" >
        userTotalScore,
      </if>
      <if test="userStatus != null" >
        userStatus,
      </if>
      <if test="userFlag != null" >
        userFlag,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="lastIP != null" >
        lastIP,
      </if>
      <if test="lastTime != null" >
        lastTime,
      </if>
      <if test="userFrom != null" >
        userFrom,
      </if>
      <if test="openId != null" >
        openId,
      </if>
      <if test="wxOpenId != null" >
        wxOpenId,
      </if>
      <if test="userMoney != null" >
        userMoney,
      </if>
      <if test="lockMoney != null" >
        lockMoney,
      </if>
      <if test="distributMoney != null" >
        distributMoney,
      </if>
      <if test="isBuyer != null" >
        isBuyer,
      </if>
      <if test="payPwd != null" >
        payPwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="loginName != null" >
        #{loginName},
      </if>
      <if test="loginSecret != null" >
        #{loginSecret},
      </if>
      <if test="loginPwd != null" >
        #{loginPwd},
      </if>
      <if test="userSex != null" >
        #{userSex},
      </if>
      <if test="userType != null" >
        #{userType},
      </if>
      <if test="userName != null" >
        #{userName},
      </if>
      <if test="userQQ != null" >
        #{userQQ},
      </if>
      <if test="userPhone != null" >
        #{userPhone},
      </if>
      <if test="userEmail != null" >
        #{userEmail},
      </if>
      <if test="userScore != null" >
        #{userScore},
      </if>
      <if test="userPhoto != null" >
        #{userPhoto},
      </if>
      <if test="userTotalScore != null" >
        #{userTotalScore},
      </if>
      <if test="userStatus != null" >
        #{userStatus},
      </if>
      <if test="userFlag != null" >
        #{userFlag},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="lastIP != null" >
        #{lastIP},
      </if>
      <if test="lastTime != null" >
        #{lastTime},
      </if>
      <if test="userFrom != null" >
        #{userFrom},
      </if>
      <if test="openId != null" >
        #{openId},
      </if>
      <if test="wxOpenId != null" >
        #{wxOpenId},
      </if>
      <if test="userMoney != null" >
        #{userMoney},
      </if>
      <if test="lockMoney != null" >
        #{lockMoney},
      </if>
      <if test="distributMoney != null" >
        #{distributMoney},
      </if>
      <if test="isBuyer != null" >
        #{isBuyer},
      </if>
      <if test="payPwd != null" >
        #{payPwd},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.cs.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from cs_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update cs_users
    <set >
      <if test="record.userId != null" >
        userId = #{record.userId},
      </if>
      <if test="record.loginName != null" >
        loginName = #{record.loginName},
      </if>
      <if test="record.loginSecret != null" >
        loginSecret = #{record.loginSecret},
      </if>
      <if test="record.loginPwd != null" >
        loginPwd = #{record.loginPwd},
      </if>
      <if test="record.userSex != null" >
        userSex = #{record.userSex},
      </if>
      <if test="record.userType != null" >
        userType = #{record.userType},
      </if>
      <if test="record.userName != null" >
        userName = #{record.userName},
      </if>
      <if test="record.userQQ != null" >
        userQQ = #{record.userQQ},
      </if>
      <if test="record.userPhone != null" >
        userPhone = #{record.userPhone},
      </if>
      <if test="record.userEmail != null" >
        userEmail = #{record.userEmail},
      </if>
      <if test="record.userScore != null" >
        userScore = #{record.userScore},
      </if>
      <if test="record.userPhoto != null" >
        userPhoto = #{record.userPhoto},
      </if>
      <if test="record.userTotalScore != null" >
        userTotalScore = #{record.userTotalScore},
      </if>
      <if test="record.userStatus != null" >
        userStatus = #{record.userStatus},
      </if>
      <if test="record.userFlag != null" >
        userFlag = #{record.userFlag},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime},
      </if>
      <if test="record.lastIP != null" >
        lastIP = #{record.lastIP},
      </if>
      <if test="record.lastTime != null" >
        lastTime = #{record.lastTime},
      </if>
      <if test="record.userFrom != null" >
        userFrom = #{record.userFrom},
      </if>
      <if test="record.openId != null" >
        openId = #{record.openId},
      </if>
      <if test="record.wxOpenId != null" >
        wxOpenId = #{record.wxOpenId},
      </if>
      <if test="record.userMoney != null" >
        userMoney = #{record.userMoney},
      </if>
      <if test="record.lockMoney != null" >
        lockMoney = #{record.lockMoney},
      </if>
      <if test="record.distributMoney != null" >
        distributMoney = #{record.distributMoney},
      </if>
      <if test="record.isBuyer != null" >
        isBuyer = #{record.isBuyer},
      </if>
      <if test="record.payPwd != null" >
        payPwd = #{record.payPwd},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update cs_users
    set userId = #{record.userId},
      loginName = #{record.loginName},
      loginSecret = #{record.loginSecret},
      loginPwd = #{record.loginPwd},
      userSex = #{record.userSex},
      userType = #{record.userType},
      userName = #{record.userName},
      userQQ = #{record.userQQ},
      userPhone = #{record.userPhone},
      userEmail = #{record.userEmail},
      userScore = #{record.userScore},
      userPhoto = #{record.userPhoto},
      userTotalScore = #{record.userTotalScore},
      userStatus = #{record.userStatus},
      userFlag = #{record.userFlag},
      createTime = #{record.createTime},
      lastIP = #{record.lastIP},
      lastTime = #{record.lastTime},
      userFrom = #{record.userFrom},
      openId = #{record.openId},
      wxOpenId = #{record.wxOpenId},
      userMoney = #{record.userMoney},
      lockMoney = #{record.lockMoney},
      distributMoney = #{record.distributMoney},
      isBuyer = #{record.isBuyer},
      payPwd = #{record.payPwd}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cs.pojo.User" >
    update cs_users
    <set >
      <if test="loginName != null" >
        loginName = #{loginName},
      </if>
      <if test="loginSecret != null" >
        loginSecret = #{loginSecret},
      </if>
      <if test="loginPwd != null" >
        loginPwd = #{loginPwd},
      </if>
      <if test="userSex != null" >
        userSex = #{userSex},
      </if>
      <if test="userType != null" >
        userType = #{userType},
      </if>
      <if test="userName != null" >
        userName = #{userName},
      </if>
      <if test="userQQ != null" >
        userQQ = #{userQQ},
      </if>
      <if test="userPhone != null" >
        userPhone = #{userPhone},
      </if>
      <if test="userEmail != null" >
        userEmail = #{userEmail},
      </if>
      <if test="userScore != null" >
        userScore = #{userScore},
      </if>
      <if test="userPhoto != null" >
        userPhoto = #{userPhoto},
      </if>
      <if test="userTotalScore != null" >
        userTotalScore = #{userTotalScore},
      </if>
      <if test="userStatus != null" >
        userStatus = #{userStatus},
      </if>
      <if test="userFlag != null" >
        userFlag = #{userFlag},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime},
      </if>
      <if test="lastIP != null" >
        lastIP = #{lastIP},
      </if>
      <if test="lastTime != null" >
        lastTime = #{lastTime},
      </if>
      <if test="userFrom != null" >
        userFrom = #{userFrom},
      </if>
      <if test="openId != null" >
        openId = #{openId},
      </if>
      <if test="wxOpenId != null" >
        wxOpenId = #{wxOpenId},
      </if>
      <if test="userMoney != null" >
        userMoney = #{userMoney},
      </if>
      <if test="lockMoney != null" >
        lockMoney = #{lockMoney},
      </if>
      <if test="distributMoney != null" >
        distributMoney = #{distributMoney},
      </if>
      <if test="isBuyer != null" >
        isBuyer = #{isBuyer},
      </if>
      <if test="payPwd != null" >
        payPwd = #{payPwd},
      </if>
    </set>
    where userId = #{userId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cs.pojo.User" >
    update cs_users
    set loginName = #{loginName},
      loginSecret = #{loginSecret},
      loginPwd = #{loginPwd},
      userSex = #{userSex},
      userType = #{userType},
      userName = #{userName},
      userQQ = #{userQQ},
      userPhone = #{userPhone},
      userEmail = #{userEmail},
      userScore = #{userScore},
      userPhoto = #{userPhoto},
      userTotalScore = #{userTotalScore},
      userStatus = #{userStatus},
      userFlag = #{userFlag},
      createTime = #{createTime},
      lastIP = #{lastIP},
      lastTime = #{lastTime},
      userFrom = #{userFrom},
      openId = #{openId},
      wxOpenId = #{wxOpenId},
      userMoney = #{userMoney},
      lockMoney = #{lockMoney},
      distributMoney = #{distributMoney},
      isBuyer = #{isBuyer},
      payPwd = #{payPwd}
    where userId = #{userId}
  </update>
</mapper>